<mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-logo">
      
      <div class="footer-note">© 2024-2025 iTMAde - Tous droits réservés</div>
    </div>
  
    <div class="footer-links">
      <a mat-button routerLink="/about">About</a>
      <a mat-button routerLink="/shop">Release note</a>
    </div>
  
    <div class="footer-social">
      <a mat-icon-button href="https://github.com" target="_blank" aria-label="GitHub">
        <mat-icon>code</mat-icon>
      </a>
      <a mat-icon-button href="https://twitter.com" target="_blank" aria-label="Twitter">
        <mat-icon>share</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  
  
  