<title>Présentation des "mentions légales"</title>
<section>
    <h1>Mentions Légales</h1>

    <h2>1. Éditeur du site</h2>
    <p>Nom de l’entreprise : ITMADE<br>
        Adresse : chemin Perriolat, 97240 François<br>
        Numéro de SIRET : en cours<br>
        Email : contact&#64;itmade.fr<br>
        <!--Téléphone : [Numéro de téléphone]-->
    </p>

    <h2>2. Hébergeur du site</h2>
    <p>Nom de l’hébergeur : ovh sas<br>
        Adresse : sis 2, rue Kellermann, 59100 Roubaix.<br>

    <h2>3. Propriété intellectuelle</h2>
    <p>Le contenu présent sur ce site (textes, images, logos) est protégé par le droit d'auteur. Toute reproduction,
        distribution, modification ou utilisation sans autorisation préalable est interdite.</p>

    <h2>4. Responsabilité</h2>
    <p>Nous mettons tout en œuvre pour assurer la fiabilité des informations présentées sur ce site. Toutefois, nous ne
        pouvons être tenus responsables des erreurs ou omissions, ni des conséquences de leur utilisation.</p>

    <h2>5. Protection des données personnelles</h2>
    <p>Pour toute information relative à la collecte et au traitement de vos données personnelles, veuillez consulter
        notre politique de confidentialité.</p>

    <h2>6. Contact</h2>
    <p>Pour toute question concernant le site ou son contenu, vous pouvez nous contacter à l'adresse suivante :
        contact&#64;verstack.io</p>
</section>