<div class="reset-password-container">
    <h2>Nouveau mot de passe</h2>
  
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" formControlName="newPassword" required (input)="checkPasswordStrength()" />
  
        @if(resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched) {
          <mat-error>Le mot de passe est obligatoire</mat-error>
        }
        @if(resetPasswordForm.get('password')?.errors?.['minlength']) {
          <mat-error>Le mot de passe doit contenir au moins 8 caractères</mat-error>
        }
        @if(resetPasswordForm.get('password')?.errors?.['pattern']) {
          <mat-error>
            Le mot de passe doit contenir une majuscule, une minuscule, un chiffre et un caractère spécial
          </mat-error>
        }
      </mat-form-field>
  
      <!-- Barre de force du mot de passe -->
      <div class="password-strength-bar" [ngClass]="passwordStrengthClass">
        <div class="bar"></div>
      </div>
      <p class="strength-label">{{ passwordStrengthLabel }}</p>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
        Modifier le mot de passe
      </button>
    </form>
  </div>
  