<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3195351081459490"
        crossorigin="anonymous"></script>
</head>
<section>
    <mat-card class="signup-container">
        <mat-tab-group class="tabstyle" dynamicHeight [(selectedIndex)]="selectedTab">
            <mat-tab class="tabstyle" label="Se connecter">

                <app-login></app-login>
            </mat-tab>
            <mat-tab class="tabstyle" label="S'inscrire">

                <app-signin (signUpComplete)="resetTab()"></app-signin>
            </mat-tab>
        </mat-tab-group>
    </mat-card>

</section>