<section class="signup-page">
  <!-- Space background effect -->
  <div class="stars-bg"></div>

  <div class="signup-card">
    <!-- Terminal header -->
    <div class="terminal-header">
      <div class="terminal-dots">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
      </div>
      <span class="terminal-title">verstack://auth/register</span>
    </div>

    <mat-tab-group class="space-tabs" dynamicHeight [(selectedIndex)]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>login</mat-icon>
          <span>Se connecter</span>
        </ng-template>
        <div class="tab-content">
          <app-login></app-login>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person_add</mat-icon>
          <span>S'inscrire</span>
        </ng-template>
        <div class="tab-content">
          <app-signin (signUpComplete)="resetTab()"></app-signin>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
