<!-- Onglet Inscription -->
<form [formGroup]="signupForm" (ngSubmit)="onSignup()">
  <h2>Créer un compte</h2>

  <!-- Boutons réseaux sociaux -->
  <div class="social-login">
    <p>Ou connectez-vous avec :</p>
    <button class="social-btn google-btn" aria-label="Connexion Google"><img src="assets/ico/google.ico"
        alt="google icone" width="24px"></button>
    <button class="social-btn facebook-btn" aria-label="Connexion Facebook"><img src="assets/ico/facebook.ico"
        alt="google icone" width="24px"></button>
    <button class="social-btn github-btn" aria-label="Connexion GitHub"><img src="assets/ico/github.ico"
        alt="google icone" width="24px"></button>
  </div>

  <span class="separator">ou :</span>

  <!-- Champs d'inscription -->

  <!-- pseudo -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Pseudo</mat-label>
    <input matInput placeholder="Entrez votre pseudo" formControlName="pseudo" required>
    @if(signupForm.get('pseudo')?.invalid && signupForm.get('pseudo')?.touched) {<mat-error>
      Le pseudo est obligatoire
    </mat-error>}
  </mat-form-field>

  <!-- email -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Entrez votre adresse mail" formControlName="email" required>
    @if(signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {<mat-error>
      Entrez une adresse e-mail valide
    </mat-error>}
  </mat-form-field>

  <!-- Mot de passe et validation -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" placeholder="Entrez votre mot de passe" formControlName="password" required>
    @if(signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {<mat-error>
      Le mot de passe est obligatoire
    </mat-error>}
    @if(signupForm.get('password')?.errors?.['minlength']){<mat-error>
      Le mot de passe doit contenir au moins 8 caractères
    </mat-error>}
    @if(signupForm.get('password')?.errors?.['pattern']){<mat-error>
      Le mot de passe doit contenir une majuscule, une minuscule, un chiffre et un caractère spécial
    </mat-error>}
  </mat-form-field>

  <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirmer le mot de passe</mat-label>
    <input matInput type="password" placeholder="Confirmez votre mot de passe" formControlName="confirmPassword"
      required>
    @if(signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched){<mat-error>
      La confirmation du mot de passe est obligatoire
    </mat-error>}
  </mat-form-field> -->

  <!-- Fourchette d'âge -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Votre âge</mat-label>
    <mat-select formControlName="ageRange">
      @for(age of ageRanges; track age){<mat-option [value]="age">{{ age }}</mat-option>}
    </mat-select>
    @if(signupForm.get('ageRange')?.invalid && signupForm.get('ageRange')?.touched){<mat-error>
      Veuillez sélectionner une fourchette d'âge.
    </mat-error>}
  </mat-form-field>

  <!-- Metier -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Votre métier</mat-label>
    <mat-select formControlName="job">
      @for(job of jobList; track job) {<mat-option [value]="job">{{ job }}</mat-option>}
    </mat-select>
    @if(signupForm.get('job')?.invalid && signupForm.get('job')?.touched){<mat-error>
      Le métier est obligatoire
    </mat-error>}
  </mat-form-field>



  <!-- Fourchette de salaire -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Votre salaire</mat-label>
    <mat-select formControlName="salaryRange">
      @for(salary of salaryRanges; track salary){<mat-option [value]="salary">{{ salary }}</mat-option>}
    </mat-select>
    @if(signupForm.get('salaryRange')?.invalid && signupForm.get('salaryRange')?.touched){<mat-error>
      Veuillez sélectionner une fourchette de salaire.
    </mat-error>}
  </mat-form-field>

  <!-- Champ pour les années d'expérience -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Années d'expérience</mat-label>
    <mat-select formControlName="experience">
      @for(exp of experienceList; track exp){<mat-option [value]="exp">{{ exp }}</mat-option>}
    </mat-select>
    @if(signupForm.get('experience')?.invalid && signupForm.get('experience')?.touched) {<mat-error>
      Veuillez sélectionner vos années d'expérience.
    </mat-error>}
  </mat-form-field>

  <!-- Termes et conditions -->
  <button mat-button (click)="openPrivacyTermeDialog()">Termes et conditions</button>

  <mat-checkbox formControlName="acceptTerms">J'accepte les termes et conditions</mat-checkbox>

  <button mat-raised-button color="primary" class="full-width signup-btn" [disabled]="signupForm.invalid">Créer un
    compte</button>
</form>