<h2 mat-dialog-title>Politique de Confidentialité</h2>
<mat-dialog-content class="mat-typography">

  <h1>Introduction</h1>
  <p>Votre vie privée est importante pour nous. Cette politique de confidentialité décrit les types de données
    personnelles que nous collectons, la manière dont nous les utilisons et les droits dont vous disposez concernant ces
    informations.</p>

  <h2>Responsable du traitement des données</h2>
  <p>Nom de l’entreprise : ITMADE<br>
    Adresse : chemin Perriolat, 97240 Le François<br>
    Email : contact&#64;itmade.fr<br>
    <!--Téléphone : [Numéro de téléphone]</p>-->

  <h2>Données personnelles collectées</h2>
  <p>Lors de l'utilisation de notre site, nous pouvons collecter les données suivantes :</p>
  <p>Informations d’identification : Nom, prénom, pseudo.<br>
    Coordonnées : Adresse email, numéro de téléphone.<br>
    Informations professionnelles : Métier, année d’expérience.<br>
    Préférences utilisateur : Langages de programmation favoris.<br>
    Informations techniques : Adresse IP, navigateur utilisé.</p>

  <h2>Finalité de la collecte des données</h2>
  <p>Nous collectons ces informations pour :</p>
  <p>Créer et gérer votre compte utilisateur.<br>
    Améliorer nos services et personnaliser votre expérience utilisateur.<br>
    Vous fournir un support technique.<br>
    Assurer la sécurité du site.<br>
    Respecter nos obligations légales.</p>

  <h2>Conservation des données</h2>
  <p>Vos données personnelles sont conservées aussi longtemps que nécessaire pour atteindre les objectifs mentionnés
    ci-dessus et pour respecter nos obligations légales.</p>

  <h2>Partage des données</h2>
  <p>Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour :</p>
  <p>Respecter une obligation légale.<br>
    Fournir un service demandé (exemple : hébergement).</p>

  <h2>Vos droits</h2>
  <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez des droits suivants :</p>
  <p>Accès à vos données.<br>
    Rectification des informations incorrectes.<br>
    Suppression de vos données (dans certaines conditions).<br>
    Opposition au traitement de vos données.<br>
    Portabilité des données.</p>
  <p>Pour exercer ces droits, veuillez nous contacter à l’adresse suivante : contact&#64;itmade.fr.</p>

  <h2>Cookies</h2>
  <p>Nous utilisons des cookies pour :</p>
  <p>Assurer le bon fonctionnement du site.<br>
    Analyser le trafic.<br>
    Améliorer l’expérience utilisateur.</p>
  <p>Vous pouvez gérer vos préférences de cookies depuis votre navigateur.</p>

  <h2>Sécurité des données</h2>
  <p>Nous prenons des mesures techniques et organisationnelles pour protéger vos données personnelles contre tout accès
    non autorisé, altération ou destruction.</p>

  <h2>Modifications de la politique de confidentialité</h2>
  <p>Nous nous réservons le droit de modifier cette politique de confidentialité. Toute modification sera publiée sur
    cette page avec une date de mise à jour.</p>

  <h2>Contact</h2>
  <p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à : contact&#64;itmade.fr
  </p>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button [mat-dialog-close]="false">Fermer</button>
</mat-dialog-actions>