<h1 mat-dialog-title>Termes et Conditions d'Utilisation</h1>
<mat-dialog-content class="mat-typography">
    <p>Dernière mise à jour : 27 novembre 2025</p>

    <h2>1. Acceptation des Conditions</h2>
    <p>En accédant à notre site ou en utilisant nos services, vous reconnaissez avoir lu, compris et accepté les
        présentes conditions. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser notre site.</p>

    <h2>2. Définitions</h2>
    <ul>
        <li><strong>Utilisateur</strong> : Toute personne qui accède ou utilise les services de notre site.</li>
        <li><strong>Services</strong> : L'ensemble des fonctionnalités disponibles sur notre site, incluant l'accès aux
            articles et contenus informatifs.</li>
        <li><strong>Abonnement Premium</strong> : Service payant donnant accès à des fonctionnalités supplémentaires de la plateforme Verstack.</li>
    </ul>

    <h2>3. Accès au Site</h2>
    <p>L'accès au site est gratuit. Toutefois, certains services peuvent être soumis à des frais ou conditions
        spécifiques. Nous nous réservons le droit de modifier, suspendre ou interrompre tout ou partie de notre site
        sans préavis.</p>
