<h1 mat-dialog-title>Termes et Conditions d'Utilisation</h1>
<mat-dialog-content class="mat-typography">
    <p>Dernière mise à jour : 29 mars 2025</p>

    <h2>1. Acceptation des Conditions</h2>
    <p>En accédant à notre site ou en utilisant nos services, vous reconnaissez avoir lu, compris et accepté les
        présentes conditions. Si vous n’acceptez pas ces termes, veuillez ne pas utiliser notre site.</p>

    <h2>2. Définitions</h2>
    <ul>
        <li><strong>Utilisateur</strong> : Toute personne qui accède ou utilise les services de notre site.</li>
        <li><strong>Services</strong> : L'ensemble des fonctionnalités disponibles sur notre site, incluant l’accès aux
            articles et contenus informatifs.</li>
    </ul>

    <h2>3. Accès au Site</h2>
    <p>L’accès au site est gratuit. Toutefois, certains services peuvent être soumis à des frais ou conditions
        spécifiques. Nous nous réservons le droit de modifier, suspendre ou interrompre tout ou partie de notre site
        sans préavis.</p>

    <h2>4. Collecte et Traitement des Données Personnelles</h2>
    <p>Nous collectons des informations personnelles via les formulaires d'inscription (nom, prénom, pseudo, adresse
        email, numéro de téléphone, années d’expérience, fourchette de salaire, etc.). Ces informations sont traitées
        dans le respect de notre <a (click)="openPrivacyMentionDialog()">Politique de Confidentialité</a>.</p>
    <p>Conformément au Règlement Général sur la Protection des Données (RGPD), vous avez le droit d'accéder, de
        rectifier, de supprimer ou de limiter le traitement de vos données personnelles.</p>

    <h2>5. Obligations de l'Utilisateur</h2>
    <ul>
        <li>Fournir des informations exactes lors de l'inscription.</li>
        <li>Ne pas utiliser le site à des fins illégales ou malveillantes.</li>
        <li>Respecter les droits de propriété intellectuelle relatifs aux contenus présents sur le site.</li>
    </ul>

    <h2>6. Propriété Intellectuelle</h2>
    <p>Tous les contenus présents sur le site (textes, images, graphiques, logos) sont protégés par des droits d'auteur
        et autres lois relatives à la propriété intellectuelle. Toute reproduction ou distribution de ces contenus sans
        autorisation préalable est interdite.</p>

    <h2>7. Limitation de Responsabilité</h2>
    <p>Bien que nous nous efforcions de maintenir notre site à jour, nous ne garantissons pas l’exactitude, la
        complétude ou la pertinence des informations disponibles. Nous déclinons toute responsabilité pour les dommages
        résultant de l’utilisation du site.</p>

    <h2>8. Liens Externes</h2>
    <p>Le site peut contenir des liens vers des sites tiers. Nous n’exerçons aucun contrôle sur ces sites et déclinons
        toute responsabilité quant à leur contenu.</p>

    <h2>9. Modification des Termes</h2>
    <p>Nous nous réservons le droit de modifier les présentes conditions à tout moment. Les utilisateurs seront informés
        des mises à jour significatives via une notification sur le site.</p>

    <h2>10. Contact</h2>
    <p>Pour toute question relative aux présentes conditions, vous pouvez nous contacter via :</p>
    <ul>
        <li><strong>Adresse e-mail:</strong> contact&#64;verstack.com</li>
        <!-- <li><strong>Adresse postale:</strong> [Votre Adresse]</li>
        <li><strong>Téléphone:</strong> [Votre Numéro]</li> -->
    </ul>
    <p>Merci d'utiliser Verstack.com !</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Fermer</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>D'accord</button>
</mat-dialog-actions>