<div class="container">
    <div class="message">
      <h1>Mobile Is Not Geek</h1>
      <p>
        Tu veux entrer dans le game ?<br />
        <strong>Reviens avec un clavier !</strong>
      </p>
  
      <div class="illustration">
        <img src="assets/img/no-mobile.svg" alt="No Mobile Access" />
      </div>
  
      <button mat-raised-button color="primary" routerLink="/manifeste" class="manifeste-button">
        Lire le manifeste
      </button>
  
      <small class="hashtag">#MobileIsNotGeek</small>
    </div>
  </div>
  