<div class="profile-container">
    @if(userData) {
    <mat-card appearance="outlined" class="profile-card">
      <mat-card-header class="profile-header">
        <div class="profile-title">
          <mat-icon class="profile-icon">account_circle</mat-icon>
          <div>
            <h2 class="pseudo">{{ userData.pseudo }}</h2>
            <span class="role">Super user</span>
          </div>
        </div>
        <img class="profile-avatar" [src]="userData.profilePicture || defaultProfilePicture" alt="Avatar" />
      </mat-card-header>
  
      <mat-card-content>
        <mat-list>
          @if(userData.favoris.length !== 0) {
            <strong>Stack :</strong>
            <mat-chip-set class="stack-chips" aria-label="liste stack favoris" style="margin: 10px;">
              @for(favoris of userData.favoris; track favoris.name){
              <mat-chip>
                <img matChipAvatar [src]="favoris.logoUrl" [alt]="favoris.name" />
                {{ favoris.name }}
              </mat-chip>}
            </mat-chip-set>
          <mat-divider></mat-divider>
          }
          <mat-list-item>
            <strong>Projets :</strong> {{ userData.projets || "Vous n'avez aucun projet connecté ! --- (non implémenté)" }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <strong>Amis :</strong> {{ userData.friends || "Votre liste d'amis est vide ! --- (non implémenté)" }}
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
  
        <div class="actions">
          <button mat-icon-button color="primary" (click)="openEditProfileDialog()" aria-label="Modifier le profil">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>}
  </div>
  