<mat-toolbar color="primary" class="toolbar">
    <div class="menu-button-container hide-on-large">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="left-container">
        <div class="logo">
            <a routerLink="/home">V/></a>
        </div>

        <ul class="navigation-items hide-on-small">
            <li class="">
                <a class="" routerLink="/home" routerLinkActive="active">accueil</a>
            </li>
            <li class="">
                <a class="" routerLink="/version" routerLinkActive="active">version</a>
            </li>
            <li class="">
                <a class="" routerLink="/stat" routerLinkActive="active">stat</a>
            </li>
            <li class="">
                <a class="" routerLink="/news" routerLinkActive="active">actualités</a>
            </li>
            <li class="">
                <a class="" routerLink="/shop" routerLinkActive="active">boutique</a>
            </li>
        </ul>
    </div>

    <div class="navigation-container hide-on-small">

        <ul class="navigation-items">

            @if(!authStatus){<li>
                <a routerLink="/signup" routerLinkActive="active">Connexion <mat-icon>lock</mat-icon></a>
            </li>}
            @if(authStatus){<li>

                <a routerLink="/profile" routerLinkActive="active">Profile <mat-icon>account_circle</mat-icon></a>

                <a routerLink="" (click)="logout()" >Déconnexion <mat-icon>logout</mat-icon></a>
            </li>}
        </ul>
    </div>
</mat-toolbar>