<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3195351081459490"
      crossorigin="anonymous"></script>
</head>
<div class="shop-layout">
  <div class="ads-left main-aside">
    <img src="assets/icons/logo-red-squiggly-01.png" alt="logo Red Squiggly" width="150" />
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3195351081459490"
         data-ad-slot="1111111111"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
  </div>

  <section class="products-grid">
  @for(product of filteredProducts; track trackById) {<div class="product-wrapper" >
      <button mat-icon-button class="open-btn" (click)="gotoItems(product)">
        <mat-icon>open_in_new</mat-icon>
      </button>

      <app-shopify-buy-button
        [productId]="product.id"
        [componentId]="'product-component-' + product.component">
      </app-shopify-buy-button>
    </div>}
  </section>

  <div class="ads-right main-aside">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3195351081459490"
         data-ad-slot="2222222222"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
  </div>
</div>



 <!--  <div class="category-filter">
      <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
          <mat-option value="">Toutes</mat-option>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
<!--<section class="shop-container">
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Hommes">

        </mat-tab>
        <mat-tab label="Femmes">

        </mat-tab>
        <mat-tab label="Accessoires">

        </mat-tab>
        <mat-tab label="Maison et Déco">

        </mat-tab>
        <mat-tab label="Jouets">

        </mat-tab>
    </mat-tab-group>
</section>-->
  