<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3195351081459490"
    crossorigin="anonymous"></script>
</head>
<div class="shop-layout">
  <aside class="ads-left" style="display: block !important;">
    <img src="assets/icons/logo-red-squiggly-01.png" alt="logo Red Squiggly" width="150" />
    <p>code it - wear it !</p>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3195351081459490" data-ad-slot="1234567890"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
  </aside>

  <section>
    <div class="products-wrapper">

      <div class="product-grid">
        @for(product of produitsFiltres; track product) {
        <ng-container class="">
          <mat-card class="product-card" appearance="outlined">
            <button mat-icon-button class="open-btn" (click)="gotoItems(product)">
              <mat-icon>open_in_new</mat-icon>
            </button>

            <app-shopify-buy-button class="product-card" [productId]="product.id"
              [componentId]="'product-component-' + product.component">
            </app-shopify-buy-button>
          </mat-card>
        </ng-container>
        }
      </div>
    </div>
  </section>

  <aside class="ads-right main-aside">
    <div class="tabs">
      @for(cat of categories; track cat){
      <div class="tab" [class.active]="cat === activeCategory" (click)="setCategorie(cat)">
        {{ cat }}
        @if(cat === activeCategory) {
        <div class="squiggly">
        </div>}
      </div>}
    </div>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3195351081459490" data-ad-slot="2222222222"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
  </aside>
</div>



<!--  <div class="category-filter">
      <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
          <mat-option value="">Toutes</mat-option>
          <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>-->
<!--<section class="shop-container">
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Hommes">

        </mat-tab>
        <mat-tab label="Femmes">

        </mat-tab>
        <mat-tab label="Accessoires">

        </mat-tab>
        <mat-tab label="Maison et Déco">

        </mat-tab>
        <mat-tab label="Jouets">

        </mat-tab>
    </mat-tab-group>
</section>-->