/*mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.mat-sidenav-content {
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


mat-sidenav {
    width: 250px;
}

main {
    flex-grow: 1;
    margin: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

app-footer {
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}*/
mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Ensure routed components can use full-bleed backgrounds.
     Avoid forcing a flex layout on the routed component root which can
     shrink or alter its natural 100vh height. */
  router-outlet + * {
    display: block;
    min-height: 100vh;
    width: 100%;
  }
  