<title>A propos de Verstack</title>
<section>
    <h1>À Propos de {{ portalName }}</h1>

    <p>Bienvenue sur {{ portalName }}, votre source centralisée d'informations sur les langages de programmation
        et les
        outils dédiés au développement informatique. Notre mission est de fournir une vision claire et complète
        des versions
        courantes et LTS, permettant aux développeurs et autres acteurs de l'IT , d'accéder rapidement aux informations
        les plus pertinentes
        pour
        leur travail.</p>

    <div class="features">
        <h1>Ce que Nous Proposons</h1>

        <div class="feature">
            <h3>Langages de Programmation</h3>
            <p>Découvrez les derniers langages de programmation, les plus utilisés ainsi que leur
                outils.</p>
        </div>

        <div class="feature">
            <h3>Versions Courantes et LTS</h3>
            <p>Restez informé des mises à jour importantes grâce à notre section dédiée aux versions.</p>
        </div>
    </div>

    <div class="engagement">
        <h1>Notre Engagement</h1>
        <p>Chez {{ portalName }}, notre engagement est de vous fournir des informations précises et à jour. Nous
            travaillons constamment pour étendre notre couverture et assurer que notre portail reste une
            ressource fiable pour la communauté IT.</p>
    </div>

    <div class="contact">
        <h1>Contactez-Nous</h1>
        <p>Nous apprécions votre visite sur {{ portalName }}. Si vous avez des questions, des suggestions ou si
            vous souhaitez simplement en savoir plus sur notre initiative, n'hésitez pas à nous contacter. Votre
            feedback est essentiel pour nous aider à améliorer et à mieux répondre à vos besoins.</p>
    </div>
    <div class="remerciement">

        <p>Merci de faire partie de notre communauté !</p>
    </div>
</section>