/* TODO :
amelioration rotation orbit => ligne 32 classe
*/

.globe-container {
  perspective: 1000px;
  width: 40vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbit {
  width: 100%;
  height: 100%;
  position: relative;
  //animation: orbit-rotation 15s infinite linear;
  transform-style: preserve-3d;
}

.globe {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: globe-rotation 15s infinite linear;
}

/* GOOD EFFECT 3D rotation!!!!!
.globe {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: globe-rotation 50s infinite linear;
}
*/

.globe img {
  position: absolute;
  width: 50px;
  height: 50px;
  // background-color: #fff;
  // border-radius: 50%;
  transform-style: preserve-3d;
  image-rendering: pixelated;
}

/* Animation de la rotation autour d'un point fixe */
@keyframes orbit-rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* Animation de la rotation du globe sur lui-même */
@keyframes globe-rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}


/* TODO :
amelioration rotation orbit => ligne 32 classe
*/
canvas {
  display: block;
  margin: 0 auto;
  background: transparent;
}

  
.retro-loading-bar-container {
  position: absolute;
  width: 300px;
  margin: 20% 20%;
  background-color: black;
  padding: 12px;
  border: 2px solid lime;
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  color: lime;
  box-shadow: 0 0 20px lime;
}

.retro-loading-bar {
  height: 20px;
  background-color: lime;
  transition: width 0.3s;
}

.retro-text {
  font-size: 10px;
  margin-top: 8px;
}

.canvasLoad {
  display: inline;
}

.canvasNotLoad {
  display: none;
}

.boot-screen {
  background: black;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 20% 20%;
  box-shadow: 0 0 15px #0f0;
  animation: terminalFadeOut 3.5s forwards;
  position: absolute;
}

.boot-lines {
  white-space: pre-line;
  animation: typing 2s steps(30, end);
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes terminalFadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; display: none; }
}


.globe-wrapper {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease, transform 0.8s ease;
}

.globe-wrapper.visible {
  opacity: 1;
  transform: scale(1);
}