/* TODO :
amelioration rotation orbit => ligne 32 classe
*/
canvas {
  display: block;
  margin: 0 auto;
  background: transparent;
}

  
.retro-loading-bar-container {
  width: 300px;
  margin: auto;
  background-color: black;
  padding: 12px;
  border: 2px solid lime;
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  color: lime;
  box-shadow: 0 0 20px lime;
}

.retro-loading-bar {
  height: 20px;
  background-color: lime;
  transition: width 0.3s;
}

.retro-text {
  font-size: 10px;
  margin-top: 8px;
}

.canvasLoad {
  display: inline;
}

.canvasNotLoad {
  display: none;
}