<div class="forgot-password-container">
    <h2 class="forgot-password-title">Mot de passe oublié</h2>
    <p class="forgot-password-instructions">
      Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.
    </p>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required style="color: black;"/>
        @if(forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched){<mat-error>
          Adresse e-mail invalide
        </mat-error>}
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="submit-button" type="submit">
        Envoyer le lien
      </button>
    </form>
  
    <div class="back-to-login">
      <a routerLink="/signup">Retour à la connexion</a>
    </div>
  </div>
  