
.layout-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../public/assets/images/bkg-home-8bit-carre_abstrait_bleu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
}

.flex-wrapper {
    height: 100%;
    width: 100%;
}

  


@media (max-width: 960px) {

    .flex-wrapper {
        width: 100%;
    }
}
