.news-layout {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 16px;
  padding: 20px;
  align-items: start;
}

section {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  min-height: 100vh;
}

.ads-left, .ads-right {
  position: sticky;
  top: 80px;
  height: fit-content;
  min-width: 140px;
}

.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.open-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  color: white;
  transition: background-color 0.3s;
}

.open-btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


.article-date {
  font-size: 0.85rem;
  margin: 0;
}

mat-chip {
  cursor: pointer;
  transition: all 0.3s ease;
}
mat-chip:hover {
  background-color: rgba(0, 188, 212, 0.2);
}

@media (max-width: 1200px) {
  .news-layout {
    grid-template-columns: 1fr 4fr;
  }
  .ads-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .news-layout {
    grid-template-columns: 1fr;
  }
  .ads-left, .ads-right {
    display: none;
  }

  .filters {
    justify-content: center;
  }
}
