<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3195351081459490"
    crossorigin="anonymous"></script>
</head>

@if(isLoading){<div class="retro-loader">
  <div class="dots">
    <span>.</span><span>.</span><span>.</span><span>.</span><span>.</span>
  </div>
  <p class="retro-text">Chargement des langages...</p>
</div>}
<section>
  @if(!isLoading){<div class="language-container">
    <mat-tab-group [(selectedIndex)]="selectedDomainIndex">
      @for(domain of domaines; track domain; let i = $index ){<mat-tab (click)="selectedDomain = domain">
        <ng-template mat-tab-label>{{ domain }}</ng-template>
      </mat-tab>}
    </mat-tab-group>

    <div class="languages-grid">
      @for(language of domainLangages(filteredLangages, selectedDomain, selectedDomainIndex) ; track language._id)
      {<ng-container>
        <mat-card class="language-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ language.name }} </mat-card-title>
              @for(version of language.versions; track version) {
              <mat-card-subtitle>
                <span> {{ version.type }}:</span>&nbsp; {{ version.label }} ({{ version.releaseDate | date:'MM/yyyy' }})
              </mat-card-subtitle>
              }
              <img loading="lazy" mat-card-sm-image [src]="language.logoUrl" [alt]="language.name">
            </mat-card-title-group>
          </mat-card-header>
          @if(!authStatus){
          <ng-container>
            <mat-card-content>
              {{ language.description }}
            </mat-card-content>
          </ng-container>} @else {
          <ng-container>
            <mat-card-content style="margin: 10px;">
              <mat-card appearance="outlined">
                <mat-card-content>
                  @for(version of language.versions; track version) {
                  <mat-progress-bar [mode]="getMode(version.supportDuration)" style="margin-bottom: 5px;"
                    [value]="getSupportPercentageFromDuration(version.releaseDate, version.supportDuration)"
                    [ngClass]="getSupportColor(version.releaseDate, version.supportDuration)"
                    matTooltip="{{ getSupportTooltip(version.releaseDate, version.supportDuration, version.type) }}"
                    matTooltipPosition="above">
                  </mat-progress-bar>}
                </mat-card-content>
              </mat-card>
            </mat-card-content>
          </ng-container>}
          <mat-card-actions class="card-actions">
            <a [href]="language.documentation" target="_blank" class="doc-link">
              <button mat-raised-button color="primary">Documentation</button>
            </a>
             @if(!authStatus && language.recommendations){<button style="margin-right: 20px;" mat-icon-button  matTooltip="Popularité *Stackoverflow" matBadgeDescription="Popularité" [matBadge]="language.recommendations" aria-label="Popularité" >🔥</button>}

            @if(authStatus){ <a mat-icon-button aria-label="épingler"
              matTooltip="{{(isPinned(language.name) ? 'Retirer ' : 'Ajouter ') + language.name + ' à votre board'}}"
              aria-label="Bouton qui ajoute la carte au tableau personnalisé" (click)="pinLanguage(language)">
              <mat-icon aria-hidden="true" aria-label="épingle icone"
                [fontIcon]="isPinned(language.name) ? 'beenhere' : 'new_label'"
                [ngClass]="{ 'pinned-icon': isPinned(language.name) }"></mat-icon>
            </a>}
          </mat-card-actions>
        </mat-card>







      </ng-container>}
    </div>
  </div>}
</section>


<!-- <section>
    <mat-tab-group mat-align-tabs="start" class="vertical-tab-group" (selectedTabChange)="filterLangages($event)">
    @for(domain of domaines; track domain; let i = $index){<mat-tab [label]="domain">
    </mat-tab>}
  </mat-tab-group>
  
  <div class="language-container">
    <mat-grid-list cols="4" rowHeight="320px" gutterSize="16px">
     @for(langage of filteredLangages; track langage.name) {
        <mat-grid-tile>
        <mat-card class="language-card">
          <mat-card-header>
            <div mat-card-avatar class="language-logo">
              <img [src]="langage.logoUrl" [alt]="langage.name" />
            </div>
            <mat-card-title>{{ langage.name }}</mat-card-title>
            <mat-card-subtitle>{{ langage.domain.join(', ') }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ langage.description }}</p>
            <p><strong>Version Actuelle :</strong> {{ langage.currentVersion }}</p>
            <p><strong>Date de Sortie :</strong> {{ langage.releaseDate }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" [href]="langage.documentation" target="_blank">
              Documentation
            </a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>}
    </mat-grid-list>
  </div>
</section> -->