@use '@angular/material' as mat;

.version-layout {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr; // pub | contenu | pub
  gap: 16px;
  padding: 16px;
  align-items: start;
}

/* pub gauche / droite */
.ads-left,
.ads-right {
  position: sticky;
  top: 100px;
  height: fit-content;
  min-width: 120px;
}

/* container principal */
.language-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* grille principale */
.languages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-top: 32px;
}

/* Responsive */
@media (max-width: 1200px) {
  .version-layout {
    grid-template-columns: 1fr 4fr;
  }

  .ads-right {
    display: none;
  }

  .languages-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .version-layout {
    grid-template-columns: 1fr;
  }

  .ads-left,
  .ads-right {
    display: none;
  }

  .languages-grid {
    grid-template-columns: 1fr;
  }
}



.language-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 255, 200, 0.2);
  border: 1px solid rgba(0, 188, 212, 0.3);
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.mat-card-header img {
  width: 50px;
  height: auto;
}

.more-link {
  margin: 0.5rem 0;
  color: #00ff00;
  text-decoration: none;
  background-color: black;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  font-size: 12px;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
}


.more-link:hover {
  background-color: #00ff00;
  color: black;
  border-color: #00ff00;
  box-shadow: 0 0 5px #00ff00;
  border-radius: 10px;
}

.description {
  text-align: start;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pinned-icon {
  color: #4caf50;
  /* vert material */
}


.support-primary {
  @include mat.progress-bar-overrides((active-indicator-color: green,
      track-color: black,
    ));
}

.support-accent {
  @include mat.progress-bar-overrides((active-indicator-color: orange,
      track-color: black,
    ));
}

.support-warn {
  @include mat.progress-bar-overrides((active-indicator-color: red,
      track-color: black,
    ));
}

.retro-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-family: 'Press Start 2P', monospace;
  color: #00ff00;
  text-align: center;
  padding: 20px;
  border: 2px solid #00ff00;
  background-color: rgba(0, 0, 0, 0.8);
  /* fond semi-transparent noir */
  box-shadow: 0 0 20px #00ff00;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.dots span {
  display: inline-block;
  animation: blink 1s infinite;
  font-size: 24px;
  margin: 0 2px;
  color: #00ff00;
}

.dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots span:nth-child(3) {
  animation-delay: 0.4s;
}

.dots span:nth-child(4) {
  animation-delay: 0.6s;
}

.dots span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
}

.retro-text {
  font-size: 10px;
  margin-top: 12px;
  color: #00ff00;
}


// icones de version
.icon-language {
  color: #2962FF;
}

.icon-framework {
  color: #43A047;
}

.icon-tools {
  color: #FB8C00;
}

.icon-database {
  color: #8E24AA;
}