/* You can add global styles to this file, and also import other style files */



  @use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$yellow-palette,
      tertiary: mat.$orange-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0
  ));
}
:root {
  --mat-sys-background: rgba(0, 0, 0, 0.1); /* Transparence à 50% */
}
html, body { height: 100%; }
body { margin: 0; font-family: Doto, "Helvetica Neue", sans-serif; }

* {
    font-family: Doto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    
}

:root {
  @include mat.card-overrides((
    subtitle-text-color: orange,
    elevated-container-color: red,
    title-text-size: 1em,
    subtitle-text-size: .7em
  ));
}

:root {
  @include mat.snack-bar-overrides((
    container-color: grey,
    supporting-text-color: green,
  ));
}

:root {
  --support-primary: #4caf50;
  --support-accent: #ff9800;
  --support-warn: #f44336;
}

.support-primary .mat-progress-bar-fill::after {
  background-color: var(--support-primary) !important;
}
.support-accent .mat-progress-bar-fill::after {
  background-color: var(--support-accent) !important;
}
.support-warn .mat-progress-bar-fill::after {
  background-color: var(--support-warn) !important;
}

