/* You can add global styles to this file, and also import other style files */

:root {
    --mat-sys-background: rgba(0, 0, 0, 0.1); /* Transparence à 50% */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Doto, "Helvetica Neue", sans-serif; }

* {
    font-family: Doto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    
}
