<div class="container">
  <div class="row">
    <div class="col left">
      <div class="text-content">
        <h1 class="pixel-art-title">verstack </h1>
        <p class="pixel-art-subtitle">
          L'univers des stacks :<br>
          Versions, Références et Tendances<br>
          pour rester à jour
        </p>
        <!--<app-tape-text-console></app-tape-text-console> -->
        <div class="button-container">
          <a class="btn" href="/version">Découvrir</a>
          <a class="btn disabled" href="/login">Connexion</a>
        </div>
      </div>
    </div>
    <div class="col right hide-on-small">
      <app-globe></app-globe>
    </div>
  </div>
</div>